<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<display-name>UpdateProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchBook</servlet-name>
  	<display-name>SearchBook</display-name>
  	<description></description>
  	<servlet-class>com.user.SearchBook</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchBook</servlet-name>
  	<url-pattern>/SearchBook</url-pattern>
  </servlet-mapping>
</web-app>
